@page "/article001"

<PageTitle>Building A Blog With Blazor</PageTitle>
<h1>Building A Blog With Blazor</h1> 

<p>I looked around for different ways on how to do a blog.</p>

<p>One of my options was Jetbrains Writerside. I liked how it was seamless. I did not feel like I had control over how the data was processed. I was not able to tinker with it.</p>

<p>I considered Wordpress. But I wanted to get into the code.</p>

<p>I would do a Javascript blog but I do not know Javascript well. I tried Jekyll. It took the amount of tinkering I was looking for, but the end result was an ugly page.</p>

<p>I want to write about what I am interested in. I will use this as a platform to do just that.</p>